<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= simple_form_for(@service) do |f| %>
          <%= f.input :title %>
          <%= f.input :rate, collection: (10..200).to_a %>
        <div class="button-flex">
          <%= f.submit "Update", class: "btn btn-primary" %>
        <% end %>
        <%= button_to "Delete", service_path(@service), method: :delete, class: "btn btn-warning" %>
        </div>
     </div>
    </div>
  </div>
</div>
