<div class="container">
  <br>
  <h1>All Developers</h1>
  <hr>
  <div class="row">
    <% @services.each do |service| %>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <%= render "card", service: service %>
      </div>
    <% end %>
  </div>
</div>















<!-- <div class="container">
  <br>
  <h1>All Developers</h1>
  <hr>

  <div class="wrapper-grey ">
    <div class="container text-center  features">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'erlich.jpg' %>')">
            <div class="card-description">
              <h2>Erlich Bachman</h2>
              <p>Founder: Aviato and Bachmanity</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'ross.png' %>')">
            <div class="card-description">
              <h2>Russ Hanneman</h2>
              <p>Member: Tres Commas Club</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'richard.jpg' %>')">
            <div class="card-description">
              <h2>Richard Hendricks</h2>
              <p>Founder: Pied Piper</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'dinesh.jpg' %>')">
            <div class="card-description">
              <h2>Dinesh Chugtai</h2>
              <p>Lead Dev</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="wrapper-grey ">
    <div class="container text-center  features">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'jared.png' %>')">
            <div class="card-description">
              <h2>Donald 'Jared' Dunn</h2>
              <p>Office Manager and Controller</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'guilfoyle.jpg' %>')">
            <div class="card-description">
              <h2>Bertram Guilfoyle</h2>
              <p>Server Architect</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'jian.jpg' %>')">
            <div class="card-description">
              <h2>Jian Yang</h2>
              <p>Incubator Resident</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->











