<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="banner-show label-card" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'background.jpg' %>'); height: 200px; background-size: cover; background-position: center center; ">
          <div class="label-card-left">
            <p><%= @service.title %></p>
          </div>
          <div class="label-card-right">
            <p>£<%= @service.rate %></p>
          </div>
        </div>

        <div class="show-container">
          <div class="show-container-left">
          <% if @service.user.photo %>
            <% photo = cl_image_path @service.photo.path %>
          <% else %>
            <% photo = image_path "dinesh.jpg" %>
          <% end %>
            <div class="show-user-info">
              <div class="avatar-large" style="background-image: url('<%= photo %>')"></div>
              <h3><%= @service.user.first_name %> <%= @service.user.last_name %></h3>
            </div>

