<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="banner-show label-card" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'background.jpg' %>'); height: 200px; background-size: cover; background-position: center center; ">
          <div class="label-card-left">
            <p><%= @service.title %></p>
          </div>
          <div class="label-card-right">
            <p>£<%= @service.rate %></p>
          </div>
        </div>

        <div class="show-container">
          <div class="show-container-left">
          <% if @service.user.photo %>
            <% photo = cl_image_path @service.photo.path %>
          <% else %>
            <% photo = image_path "dinesh.jpg" %>
          <% end %>
            <div class="show-user-info">
              <div class="avatar-large" style="background-image: url('<%= photo %>')"></div>
              <h3><%= @service.user.first_name %> <%= @service.user.last_name %></h3>
            </div>







          </div>
          <div class="show-container-right">
            <div class="show-cta">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="left: 20px">
            Hire me
            </button>
            </div>
             <div class="other-service-container text-center">
              <h2><strong>Other Services</strong></h2>
               <% @other_services.each do |service| %>
                <div class="product">
                  <div class='product-body'>
                    <h3><%= service.title %></h3>
                    <p>Daily rate: £ <%= service.rate %></p>
                    </div>
                  </div>
               <% end %>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Let's start!</h4>
        </div>
        <div class="modal-body">
          <%= simple_form_for [@service, @contract] do |f| %>
            <%= f.input :message, label: "Send a message" %>
            <%= f.submit :go, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>





