<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="banner-show label-card" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'background.jpg' %>'); height: 200px; background-size: cover; background-position: center center; ">
          <div class="label-card-left">
            <p><%= @service.title %></p>
          </div>
          <div class="label-card-right">
            <p>£<%= @service.rate %></p>
          </div>
        </div>

        <div class="show-container">
          <div class="show-container-left">
            <h3><%= image_tag 'background.jpg', class: "avatar-large" %> <%= @service.user.first_name %> <%= @service.user.last_name %></h3>
          </div>
          <div class="show-container-right">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="left: 20px">
            Hire me
            </button>
             <%= link_to "Edit Service", edit_service_path(@service), class: "btn btn-success btn-lg"  %>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Let's start!</h4>
        </div>
        <div class="modal-body">
          <%= simple_form_for [@service, @contract] do |f| %>
            <%= f.input :message, label: "Send a message" %>
            <%= f.submit :go, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>





