<div class="card-description">
  <h2 class="status"><%= contract.status %></h2>
  <h2><%= contract.service.title %></h2>
  <h2><%= contract.message %></h2>
  <h2>Daily rate: £ <%= contract.service.rate %></h2>
  <h2>To be hired by: <%= contract.service.user.first_name %></h2>
  <% if contract.status == "pending" %>
    <%= link_to "Accept", accept_contract_path(contract), class: "btn btn-primary"  %>
    <%= link_to "Decline", decline_contract_path(contract), class: "btn btn-danger"  %>
  </div>
<% elsif contract.status == "accepted" %>
  </div>
  <div class="badge">
    <i class="fa fa-check"></i>
  </div>
<% else %>
  </div>
  <div class="badge">
    <i class="fa fa-times"></i>
  </div>
<% end %>


