<div class="card-description">
  <h2 class="status"><%= contract.status %></h2>
  <h2><%= contract.service.title %></h2>
  <h2>Daily rate: £ <%= contract.service.rate %></h2>
  <% if contract.service.user.first_name %>
    <h2>Freelancer: <%= contract.service.user.first_name %></h2>
  <% else %>
    <h2>Freelancer: <%= contract.service.user.email %></h2>
  <% end %>
  <% if contract.status == "pending" %>
    <p>Contract pending</p>
  </div>
<% elsif contract.status == "accepted" %>
  </div>
  <div class="badge">
    <i class="fa fa-check"></i>
  </div>
<% else %>
  </div>
  <div class="badge">
    <i class="fa fa-times"></i>
  </div>
<% end %>


