<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="banner-show" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'background.jpg' %>'); height: 100px; background-size: cover; background-position: center center; margin-top: 7px; ">
      </div>
      <div class="info text-center">
        <%= cl_image_tag @user.photo.path, class: "avatar-square" %>
        <h3>Name: <%= @user.first_name %></h3>
        <h3>Location: <%= @user.city %></h3>
      </div>
      </div>
    </div>
    <%= link_to "edit", edit_user_path(@user), class: "btn btn-warning"  %>
  </div>







