

<div class="banner-big" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'background.jpg' %>')">
  <div class="banner-big-content">
    <h1>Connect</h1>
    <p>Connecting with potential development help for your project has never been easier!  Devbnb provides project managers with extensive options to find the perfect fit for development roles in their companies and for their projects</p>
    <%= link_to "All Postings", services_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<div class="container">
  <br>
  <h1 class="text-center">Featured</h1>
  <hr>
</div>

<div class="wrapper-grey ">
    <div class="container text-center  features">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'erlich.jpg' %>')">
            <div class="card-description">
              <h2>Erlich Bachman</h2>
              <p>Founder: Aviato and Bachmanity</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'ross.png' %>')">
            <div class="card-description">
              <h2>Russ Hanneman</h2>
              <p>Member: Tres Commas Club</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'rock.jpg' %>')">
            <div class="card-description">
              <h2>The Rock</h2>
              <p>Boots 2 Asses</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'dinesh.jpg' %>')">
            <div class="card-description">
              <h2>Dinesh Chugtai</h2>
              <p>Lead Dev</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="wrapper-grey ">
    <div class="container text-center  features">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'jared.png' %>')">
            <div class="card-description">
              <h2>Donald 'Jared' Dunn</h2>
              <p>Office Manager and Controller</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'guilfoyle.jpg' %>')">
            <div class="card-description">
              <h2>Bertram Guilfoyle</h2>
              <p>Server Architect</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'jian.jpg' %>')">
            <div class="card-description">
              <h2>Jian Yang</h2>
              <p>Incubator Resident</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'richard.jpg' %>')">
            <div class="card-description">
              <h2>Richard Hendricks</h2>
              <p>Founder: Pied Piper</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






<!-- <div class="wrapper-grey padded">
  <div class="container text-center padded features">
    <h2 class="text-center">Featured</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'erlich.jpg' %>')">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'ross.png' %>')">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'richard.jpg' %>')">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'dinesh.jpg' %>')">
        </div>
      </div>
    </div>
  </div>
</div> -->

